@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 98vh;
  background-color: #487eb0;
}

h2 {
  font-size: 3.4rem;
  color: white;
  font-family: "Russo One", sans-serif;
  letter-spacing: 5px;
}

.break-session-container {
  display: flex;
}

.timer-container {
  border: 3px solid white;
  border-radius: 25px;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(165, 163, 163, 0.5);
}

h3,
span {
  font-size: 3.4rem;
  margin-bottom: 10px;
  margin-top: 20px;
  color: white;
}

.timer-actions {
  margin-top: 10px;
  text-align: center;
}

.timer-actions button {
  margin: 10px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.timer-actions i {
  font-size: 2rem;
}
